deeptechdatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "deeptechdatafactory"
		},
		"deeptech_AzureBlobStorage_LS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'deeptech_AzureBlobStorage_LS'"
		},
		"deeptech_AzureSqlDatabase_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'deeptech_AzureSqlDatabase_LS'"
		},
		"API_RestServices_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://jsonplaceholder.typicode.com/posts"
		},
		"deeptech_AzureSqlDatabase_LS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "deeptech-salome-sql-server.database.windows.net"
		},
		"deeptech_AzureSqlDatabase_LS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "deeptech-sql-db"
		},
		"deeptech_AzureSqlDatabase_LS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "deeptech-salome"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/fitnessgympipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline shows the ETL process carried out on  fitness_gym dataset in completion of the task assigned by the deeptech data engineering programme. Here we configure a copy activity in ADF to transfer data from a source to sink container in azure blob storage",
				"activities": [
					{
						"name": "Activity 1",
						"description": "Move data from input to output container",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fitness_gym_input_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fitnessgym_sink_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/fitness_gym_input_dataset')]",
				"[concat(variables('factoryId'), '/datasets/fitnessgym_sink_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/food_delivery_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline configures a copy activity in ADF to ingest data from Azure Blob Storage and automatically create and load it into a new table in Azure SQL Database.",
				"activities": [
					{
						"name": "Activity1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "food_delivery_input_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "food_delivery_sql_sink_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/food_delivery_input_dataset')]",
				"[concat(variables('factoryId'), '/datasets/food_delivery_sql_sink_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/typicode_api_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Building a pipeline by ingesting data in json format through n API",
				"activities": [
					{
						"name": "API to Blob copy activity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "typicode_source_api_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "API_csv_sink_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob to DB copy activity",
						"description": "This creates a copy of the data that was ingested to be stored in the SQL database for the software team.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "API to Blob copy activity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "API_csv_sink_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "API_sql_test_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/typicode_source_api_data')]",
				"[concat(variables('factoryId'), '/datasets/API_csv_sink_data')]",
				"[concat(variables('factoryId'), '/datasets/API_sql_test_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_csv_sink_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureBlobStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "typicode_csv_data",
						"container": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureBlobStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_json_sink_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureBlobStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "typicode_API_json_data",
						"container": "output"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureBlobStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_sink_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureSqlDatabase_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "typicode_api_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureSqlDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_sql_test_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureSqlDatabase_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "API_sql_test_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureSqlDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fitness_gym_input_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureBlobStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Fitness table",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Fitness_Membership_Analytics_Dataset.xlsx",
						"container": "input"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "customerpk",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "membership_type",
						"type": "String"
					},
					{
						"name": "visit_per_week",
						"type": "String"
					},
					{
						"name": "Days_of_week",
						"type": "String"
					},
					{
						"name": "attend_group_lesson",
						"type": "String"
					},
					{
						"name": "avg_time_check_in",
						"type": "String"
					},
					{
						"name": "avg_time_check_out",
						"type": "String"
					},
					{
						"name": "duration_in_gym_minutes",
						"type": "String"
					},
					{
						"name": "has_drink_subscription",
						"type": "String"
					},
					{
						"name": "personal_training",
						"type": "String"
					},
					{
						"name": "uses_sauna",
						"type": "String"
					},
					{
						"name": "self_identified_gender",
						"type": "String"
					},
					{
						"name": "subscription_price",
						"type": "String"
					},
					{
						"name": "subscription_model",
						"type": "String"
					},
					{
						"name": "adjusted_price",
						"type": "String"
					},
					{
						"name": "discount type_fk",
						"type": "String"
					},
					{
						"name": "discount_rate",
						"type": "String"
					},
					{
						"name": "final_price",
						"type": "String"
					},
					{
						"name": "access_hours",
						"type": "String"
					},
					{
						"name": "Location_fk",
						"type": "String"
					},
					{
						"name": "join_date",
						"type": "String"
					},
					{
						"name": "personal_training_hours",
						"type": "String"
					},
					{
						"name": "multi_location_access",
						"type": "String"
					},
					{
						"name": "last_visit_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureBlobStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fitnessgym_sink_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureBlobStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sink.csv",
						"container": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureBlobStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/food_delivery_input_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureBlobStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "food_delivery_dataset.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "order_id",
						"type": "String"
					},
					{
						"name": "order_date",
						"type": "String"
					},
					{
						"name": "order_time",
						"type": "String"
					},
					{
						"name": "day_of_week",
						"type": "String"
					},
					{
						"name": "time_slot",
						"type": "String"
					},
					{
						"name": "restaurant_name",
						"type": "String"
					},
					{
						"name": "cuisine_type",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "delivery_city",
						"type": "String"
					},
					{
						"name": "delivery_distance_km",
						"type": "String"
					},
					{
						"name": "order_value",
						"type": "String"
					},
					{
						"name": "delivery_fee",
						"type": "String"
					},
					{
						"name": "tip_amount",
						"type": "String"
					},
					{
						"name": "total_amount",
						"type": "String"
					},
					{
						"name": "payment_method",
						"type": "String"
					},
					{
						"name": "delivery_time_minutes",
						"type": "String"
					},
					{
						"name": "driver_id",
						"type": "String"
					},
					{
						"name": "weather_condition",
						"type": "String"
					},
					{
						"name": "order_status",
						"type": "String"
					},
					{
						"name": "customer_rating",
						"type": "String"
					},
					{
						"name": "number_of_items",
						"type": "String"
					},
					{
						"name": "promotional_discount",
						"type": "String"
					},
					{
						"name": "is_repeat_customer",
						"type": "String"
					},
					{
						"name": "delivery_instructions",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureBlobStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/food_delivery_sql_sink_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "deeptech_AzureSqlDatabase_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "deeptech_sink_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/deeptech_AzureSqlDatabase_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/typicode_source_api_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "API_RestServices_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/API_RestServices_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_RestServices_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_RestServices_LS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/deeptech_AzureBlobStorage_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('deeptech_AzureBlobStorage_LS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/deeptech_AzureSqlDatabase_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('deeptech_AzureSqlDatabase_LS_properties_typeProperties_server')]",
					"database": "[parameters('deeptech_AzureSqlDatabase_LS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('deeptech_AzureSqlDatabase_LS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('deeptech_AzureSqlDatabase_LS_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}